<div class="container mt-3">
  <h1>All our Flats</h1>

  <div class="row">
    <% if @query %>
      <p>You searched for <%= @query %>. We have <%= @flats.count %> <%= "flat".pluralize(@flats.count) %>  in this area.</p>
    <% else %>
    <p>All <%= Flat.count %> flats </p>
    <% end %>
  </div>

  <div class="row justify-content-around">
    <div class="col-6 d-flex">
    <%#= render "shared/card-flat" %>
    </div>
  </div>




  <div class="row mt-3 justify-content-between">
    <div class="card-deck d-flex">
      <% @flats.each do |flat| %>
        <div class="card col-4 mx-3">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1556784344-ad913c73cfc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZmxhdHN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <p class="card-text"><%= flat.address %></p>
            <div class="card-pictos d-flex">
              <i class="fa-solid fa-user-group mt-1 mx-1"></i><%= flat.number_of_guests %>
              &nbsp; <i class="fa-solid fa-euro-sign mt-1 mx-1"></i><%= flat.price_per_night %>
            </div>
          </div>
          <div class="card-footer d-flex">
            <small class="text-muted"><%= link_to "More infos", flat_path(flat) %></small>
            <small class="text-muted"><%= link_to "Edit", edit_flat_path(flat), class:"mx-3", style:"color:orange" %></small>
            <small class="text-muted"><%= link_to "Remove", flat_path(flat), data: { turbo_method: :delete}, style:"color:red" %></small>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
