<div class="map"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h1><%= @flat.name %></h1>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
        <div class="map" style="background-image: url('https://www.neuf.tv/wp-content/uploads/2021/05/1621379202_798_Google-Maps-obtient-des-informations-dactivite-pour-les-zones-des.jpg')">
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="flat-show-card">
        <form action="">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2022" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2022" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>

      <div class="flat-show-card">
        <h3>Details</h3>
        <div class="card-pictos d-flex">
          <i class="fa-solid fa-user-group mt-1 mx-1"></i><%= @flat.number_of_guests %>
          &nbsp; <i class="fa-solid fa-euro-sign mt-1 mx-1"></i><%= @flat.price_per_night %>
        </div>
      </div>
      <div class="flat-show-card flex-align">
        <p class="no-mb"><strong>Share</strong></p>
          <div class="socials">
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-pinterest-square"></i>
            <i class="fa-solid fa-square-envelope"></i>
          </div>
      </div>
    </div>
  </div>
</div>





















<%= link_to "Back", flats_path %>
